.logo {
    font-size: 19px;
    text-transform: uppercase;
}

.menu {
    display: flex;
    list-style: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.menu .menu-item {
    margin-right: 44px;
}

.menu .menu-item:last-child {
    margin-right: 0;
}

.menu a {
    color: var(--text-color);
    text-decoration: none;
}

.menu a:hover {
    color: var(--pl-h);
}

.nav-bar {
    padding: 51px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.header {
    background: linear-gradient(292.12deg, #62BADA -35.02%, #C9E7F2 78.96%);
    padding: 240px 0 180px;
    position: relative;
    overflow: hidden;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        url('../img/24.png'),
        url('../img/80.png'),
        url('../img/62.png');
    background-position:
        left 0 bottom 56px,
        right 0 bottom -175px,
        right 0 top 167px;
    background-repeat: no-repeat;
}

.header-title {
    margin-top: 0;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
}

.header-img {
    position: absolute;
    right: 0;
    bottom: -340px;
}

.header-content {
    max-width: 646px;
    position: relative;
    z-index: 1;
}

.header .container {
    min-height: 530px;
}

.header-desc {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}

.header-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-btn .btn {
    margin-right: 50px;
}

.btn .btn-icon .icon-play {
    position: relative;
    left: 2px;
}

.company-list {
    text-align: center;
    background: #F5F6F8;
    padding: 64px 0 76px;
}

.company-list .company-list-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 36px;
}

.company-list .company-logo-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.company-list .company-logo-list_item {
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 30px;
}

.company-list .company-logo {
    max-width: 150px;
    max-height: 150px;
}

.qute-box {
    background: #C4C4C44D;
    border-radius: 20px;
    padding: 38px 34px 34px;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.02em;
    position: relative;
    max-width: 400px;
}

.qute-box .qute-box-text {
    display: block;
    margin-bottom: 18px;
    min-width: 334px;
}

.qute-box .qute-box-text::before,
.qute-box .qute-box-text::after {
    display: none;
}

.qute-box::before {
    content: '';
    background-color: #000000;
    background-image: url('../img/qute.svg');
    background-repeat: no-repeat;
    background-position: center center;

    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 30px;
}

.automated {
    margin-top: 71px;
    margin-bottom: 71px;
}

.automated .row {
    align-items: flex-start;
    flex-wrap: wrap;
}

.automated .automated-row-item {
    width: 50%;
    min-width: 400px;
}

.automated .automated-row-item .qute-box {
    margin-right: 0;
    margin-left: auto;
}

.save-money .save-money-title,
.automated .automated-title {
    font-weight: 800;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.03em;
    margin-top: 0;
    margin-bottom: 19px;
}

.automated .automated-desc {
    line-height: 29px;
    letter-spacing: -0.02em;
}

.automated .automated-content {
    max-width: 455px;
}

.pref .row {
    flex-wrap: wrap;
    justify-content: space-around;
}

.pref .pref-item {
    background: #FFFFFF;
    border: 1px solid #DBE4E9;
    border-radius: 20px;
    max-width: 380px;
    min-width: 320px;
    padding: 95px 65px 45px 45px;
    margin: 0 10px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.pref .pref-item-number {
    font-weight: 800;
    font-size: 22px;
    position: absolute;
    top: 21px;
    left: 22px;
}

.pref .pref-item-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.03em;
    margin-top: 34px;
    margin-bottom: 17px;
}

.pref .pref-item-text {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #64607D;
}

.save-money {
    margin-top: 71px;
    ;
}

.save-money-item-txt {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #3734A9;

}

.save-money .save-money-desc {
    max-width: 421px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #64607D;
}

.money-save-qute-box-main {
    max-width: 496px;
    display: inline-block;
    margin: 55px 0px 0px 0px;
}

.save-money-title {
    max-width: 600px;
    position: relative;
    z-index: 1;
}

.save-money-img {
    position: absolute;
    right: 0;
    bottom: -239px;
}

.discover {
    margin: 130px 0px 0px 0px;
    position: relative;
}

.discover .container {
    /* min-height: 438px; */
    padding: 55px;
    background: #3734A9;
    border-radius: 20px;
}

.discover .container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        url('../img/Group\ 269.png'),
        url('../img/Vector.png'),
        url('../img/Group\ 268.png'),
        url('../img/Group\ 1.png'),
        url('../img/Group\ 2.png');
    background-position:
        left 108px bottom 43.6px,
        left 190px top 58px,
        right 118px top 49px,
        left 249px bottom 122.82px,
        right 36px bottom 53.66px;
    background-repeat: no-repeat;
}

.discover-main-block{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.discover-title {
    font-weight: 800;
    font-size: 56px;
    line-height: 61px;
    display: block;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    max-width: 763px;
    text-align: center;
    margin: 105px auto;
    display: flex;
}


.btn-orange {
    padding: 19px 42px 18px 42px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer .container{
    margin-top: 137px;
    margin-bottom: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    border-top: 2px solid #E5E5EA;;
    padding: 40px;
}